@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-jp.min.css");
@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Noto+Serif+KR:wght@200..900&display=swap");

@import "tailwindcss";

@theme {
  --font-pretendard: "Pretendard JP", sans-serif;
  --font-crimson: "Crimson Text", serif;
}

button {
  cursor: pointer;
  outline: none;
}

a {
  outline: none;
}
