@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-jp.min.css");
@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&family=Damion&display=swap");

@import "tailwindcss";

@theme {
  --font-pretendard: "Pretendard JP", sans-serif;
}

button {
  cursor: pointer;
  outline: none;
}

a {
  outline: none;
}
