@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-jp.min.css");
@import url("https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&family=Damion&display=swap");

@import "tailwindcss";

@theme {
  --font-akshar: "Akshar", sans-serif;
  --font-pretendard: "Pretendard JP", sans-serif;
}

body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
    Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: auto;
}

button {
  cursor: pointer;
  outline: none;
}

a {
  outline: none;
}
